In [4]:
import numpy as np
import pandas as pd

nba = pd.read_csv('nba.csv', low_memory=False)
nba.head(3).T

                                    0             1             2
Unnamed: 0                          0             1             2
game_id                  202202170BRK  202202170BRK  202202170BRK
game_date                  2022-02-17    2022-02-17    2022-02-17
OT                                  0             0             0
H_A                                 A             A             A
...                               ...           ...           ...
SG%                              36.0           0.0          32.0
SF%                              60.0           4.0          67.0
PF%                               4.0          85.0           0.0
C%                                0.0          11.0           0.0
active_position_minutes     46.253586      52.15259     47.021807

[82 rows x 3 columns]

In [5]:
nba = nba.drop(['Inactives'], axis = 1)
nba.head(3).T

                                    0             1             2
Unnamed: 0                          0             1             2
game_id                  202202170BRK  202202170BRK  202202170BRK
game_date                  2022-02-17    2022-02-17    2022-02-17
OT                                  0             0             0
H_A                                 A             A             A
...                               ...           ...           ...
SG%                              36.0           0.0          32.0
SF%                              60.0           4.0          67.0
PF%                               4.0          85.0           0.0
C%                                0.0          11.0           0.0
active_position_minutes     46.253586      52.15259     47.021807

[81 rows x 3 columns]

In [8]:
players = nba[['player_id', 'player']].drop_duplicates()

In [9]:
players

        player_id                    player
0       kispeco01             Corey Kispert
1       kuzmaky01                Kyle Kuzma
2       caldwke01  Kentavious Caldwell-Pope
3        netora01                 Raul Neto
4       bryanth01             Thomas Bryant
...           ...                       ...
109702  frazimi01           Michael Frazier
110441  howarwi01            William Howard
110913  mbahalu01          Luc Mbah a Moute
111399  bowmaky01                 Ky Bowman
112021  pargoje01              Jeremy Pargo

[812 rows x 2 columns]

In [10]:
nba = nba.drop(['player'], axis = 1)

In [11]:
games = nba[['game_id','game_date','OT','season']].drop_duplicates()

In [12]:
nba = nba.drop(['game_date','OT','season'], axis = 1)