In [1]:
import numpy as np
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import os
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')

## Original Data

In [11]:
nba = pd.read_csv('nba.csv', low_memory=False)
nba.head(3).T

                                    0             1             2
Unnamed: 0                          0             1             2
game_id                  202202170BRK  202202170BRK  202202170BRK
game_date                  2022-02-17    2022-02-17    2022-02-17
OT                                  0             0             0
H_A                                 A             A             A
...                               ...           ...           ...
SG%                              36.0           0.0          32.0
SF%                              60.0           4.0          67.0
PF%                               4.0          85.0           0.0
C%                                0.0          11.0           0.0
active_position_minutes     46.253586      52.15259     47.021807

[82 rows x 3 columns]

## First Normal Form

In [12]:
nba = nba.drop(['Inactives'], axis = 1)
nba.head(3).T

                                    0             1             2
Unnamed: 0                          0             1             2
game_id                  202202170BRK  202202170BRK  202202170BRK
game_date                  2022-02-17    2022-02-17    2022-02-17
OT                                  0             0             0
H_A                                 A             A             A
...                               ...           ...           ...
SG%                              36.0           0.0          32.0
SF%                              60.0           4.0          67.0
PF%                               4.0          85.0           0.0
C%                                0.0          11.0           0.0
active_position_minutes     46.253586      52.15259     47.021807

[81 rows x 3 columns]

## Second Normal Form

In [13]:
players = nba[['player_id', 'player']].drop_duplicates()

In [14]:
players
# player names only depend on player ID

        player_id                    player
0       kispeco01             Corey Kispert
1       kuzmaky01                Kyle Kuzma
2       caldwke01  Kentavious Caldwell-Pope
3        netora01                 Raul Neto
4       bryanth01             Thomas Bryant
...           ...                       ...
109702  frazimi01           Michael Frazier
110441  howarwi01            William Howard
110913  mbahalu01          Luc Mbah a Moute
111399  bowmaky01                 Ky Bowman
112021  pargoje01              Jeremy Pargo

[812 rows x 2 columns]

In [15]:
nba = nba.drop(['player'], axis = 1)

In [16]:
# these coloumn only depend on game not player ID
games = nba[['game_id','game_date','OT','season']].drop_duplicates()

In [17]:
nba = nba.drop(['game_date','OT','season'], axis = 1)

In [18]:
nba.head(3).T

                                    0             1             2
Unnamed: 0                          0             1             2
game_id                  202202170BRK  202202170BRK  202202170BRK
H_A                                 A             A             A
Team_Abbrev                       WAS           WAS           WAS
Team_Score                        117           117           117
...                               ...           ...           ...
SG%                              36.0           0.0          32.0
SF%                              60.0           4.0          67.0
PF%                               4.0          85.0           0.0
C%                                0.0          11.0           0.0
active_position_minutes     46.253586      52.15259     47.021807

[77 rows x 3 columns]

## Third Normal Form

In [19]:
# transitive dependency: creative a new table with new primary keys.
nba.columns

Index(['Unnamed: 0', 'game_id', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score',
       'Opponent_pace', 'Opponent_efg_pct', 'Opponent_tov_pct',
       'Opponent_orb_pct', 'Opponent_ft_rate', 'Opponent_off_rtg', 'player_id',
       'starter', 'mp', 'fg', 'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft',
       'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'plus_minus', 'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct',
       'fg3a_per_fga_pct', 'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct',
       'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg',
       'def_rtg', 'bpm', 'minutes', 'double_double', 'triple_double', 'DKP',
       'FDP', 'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [20]:
team_game = nba[['game_id','Team_Abbrev','H_A','Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev']].drop_duplicates()

In [21]:
pd.set_option('display.max_columns', 80)
nba.query("game_id == '202202170BRK'")

,Unnamed: 0,game_id,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev,Opponent_Score,Opponent_pace,Opponent_efg_pct,Opponent_tov_pct,Opponent_orb_pct,Opponent_ft_rate,Opponent_off_rtg,player_id,starter,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts,plus_minus,did_not_play,is_inactive,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,orb_pct,drb_pct,trb_pct,ast_pct,stl_pct,blk_pct,tov_pct,usg_pct,off_rtg,def_rtg,bpm,minutes,double_double,triple_double,DKP,FDP,SDP,DKP_per_minute,FDP_per_minute,SDP_per_minute,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,PG%,SG%,SF%,PF%,C%,active_position_minutes
0,0,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,kispeco01,1,32:30,6,9,0.667,4,6,0.667,0,0,0.000,0,1,1,1,2,0,2,2,16,13,0,0,0.889,0.889,0.667,0.000,0.0,3.3,1.8,4.0,3.1,0.0,18.2,15.6,133,113,3.1,32.500000,0,0,23.75,22.7,24.75,0.730769230769231,0.698461538461538,0.761538461538461,0.061538,9.00,31.716667,22.017778,1.0,36.0,60.0,4.0,0.0,46.253586
1,1,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,kuzmaky01,1,30:16,2,7,0.286,0,3,0.000,1,1,1.000,0,7,7,5,1,0,7,3,5,10,0,0,0.336,0.286,0.429,0.143,0.0,24.7,13.9,18.5,1.7,0.0,48.5,22.0,55,107,-15.5,30.266667,0,0,19.75,16.9,17.25,0.652533039647577,0.558370044052863,0.569933920704846,0.099119,7.44,34.324000,18.475954,0.0,0.0,4.0,85.0,11.0,52.152590
2,2,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,caldwke01,1,25:26,3,7,0.429,1,3,0.333,0,0,0.000,1,4,5,2,1,0,1,0,7,13,0,0,0.500,0.500,0.429,0.000,5.4,16.8,11.8,9.4,2.0,0.0,12.5,14.5,106,110,-3.8,25.433333,0,0,18.25,18.0,18.75,0.717562254259502,0.707732634338139,0.737221494102228,0.000000,7.00,29.820290,16.051693,0.0,32.0,67.0,0.0,0.0,47.021807
3,3,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,netora01,1,20:40,5,7,0.714,1,1,1.000,1,2,0.500,1,1,2,3,2,0,0,1,12,8,0,0,0.761,0.786,0.143,0.286,6.6,5.2,5.8,20.3,4.9,0.0,0.0,17.6,165,109,10.2,20.666667,0,0,23.50,24.9,25.50,1.13709677419355,1.20483870967742,1.23387096774194,0.048387,7.88,29.920833,14.603922,90.0,10.0,0.0,0.0,0.0,27.603314
4,4,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,bryanth01,1,14:04,5,6,0.833,0,1,0.000,2,2,1.000,1,4,5,2,0,2,0,0,12,8,0,0,0.872,0.833,0.167,0.333,9.7,30.3,21.3,23.6,0.0,13.4,0.0,22.6,185,102,20.9,14.066667,0,0,25.25,27.0,27.25,1.79502369668246,1.91943127962085,1.93720379146919,0.000000,6.88,20.095833,14.538095,0.0,0.0,0.0,0.0,100.0,36.472537
5,5,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,avdijde01,0,30:50,4,10,0.400,1,3,0.333,4,4,1.000,0,8,8,2,2,1,0,3,13,7,0,0,0.553,0.450,0.300,0.400,0.0,27.7,15.6,7.8,3.3,3.1,0.0,17.6,126,100,0.3,30.833333,0,0,32.50,34.6,35.50,1.05405405405405,1.12216216216216,1.15135135135135,0.097297,11.76,33.812500,23.658333,0.0,7.0,62.0,31.0,0.0,54.944529
6,6,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,smithis01,0,27:20,7,10,0.700,1,3,0.333,0,0,0.000,0,2,2,6,0,1,0,3,15,6,0,0,0.750,0.750,0.300,0.000,0.0,7.8,4.4,31.3,0.0,3.4,0.0,16.9,165,117,4.2,27.333333,0,0,29.00,29.4,30.00,1.0609756097561,1.07560975609756,1.09756097560976,0.109756,10.00,20.776017,11.183333,100.0,0.0,0.0,0.0,0.0,28.083850
7,7,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,hachiru01,0,27:15,8,15,0.533,2,2,1.000,2,2,1.000,1,0,1,1,1,0,1,1,20,5,0,0,0.630,0.600,0.133,0.133,5.0,0.0,2.2,5.5,1.9,0.0,5.9,28.6,123,118,-1.6,27.250000,0,0,25.25,24.7,25.75,0.926605504587156,0.906422018348624,0.944954128440367,0.036697,15.88,29.610183,15.938596,0.0,0.0,33.0,57.0,10.0,53.836511
8,8,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,gillan01,0,18:41,4,7,0.571,2,2,1.000,2,3,0.667,1,1,2,3,1,2,2,5,12,7,0,0,0.721,0.714,0.286,0.429,7.3,5.7,6.4,21.6,2.7,10.1,19.4,25.5,127,108,6.0,18.683333,0,0,25.00,25.9,27.00,1.33809099018733,1.38626226583408,1.44513826940232,0.267618,8.32,12.768456,6.873016,0.0,0.0,16.0,70.0,14.0,52.255931
9,9,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,gaffoda01,0,12:58,2,5,0.400,0,0,0.000,1,2,0.500,3,2,5,1,0,1,1,3,5,-7,0,0,0.425,0.400,0.000,0.400,31.7,16.5,23.1,9.6,0.0,7.3,14.5,24.5,106,110,-11.7,12.966667,0,0,14.25,14.5,14.75,1.09897172236504,1.11825192802057,1.13753213367609,0.231362,5.88,20.789815,4.350000,0.0,0.0,0.0,0.0,100.0,36.472537
10,10,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,winstca01,0,0:00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.000000,0,0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,0.00,7.624581,4.104167,62.0,38.0,0.0,0.0,0.0,26.257811
11,11,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,careyve01,0,0:00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.000000,0,0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,0.00,0.983068,0.529167,0.0,0.0,0.0,0.0,100.0,36.472537
12,12,202202170BRK,A,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,toddis01,0,0:00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.000000,0,0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,0.00,3.346043,1.801111,0.0,0.0,11.0,47.0,42.0,47.128051
13,13,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,brownbr01,1,34:57,3,10,0.300,0,1,0.000,4,5,0.800,4,1,5,4,0,0,0,4,10,-14,0,0,0.410,0.300,0.100,0.500,12.2,3.9,8.6,17.2,0.0,0.0,0.0,14.6,122,130,-5.5,34.950000,0,0,22.25,22.0,22.25,0.636623748211731,0.629470672389127,0.636623748211731,0.114449,12.20,29.435417,12.715000,0.0,31.0,58.0,11.0,0.0,43.397040
14,14,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,curryse01,1,31:16,4,11,0.364,3,6,0.500,1,1,1.000,1,3,4,4,0,0,3,0,12,-5,0,0,0.524,0.500,0.545,0.091,3.4,13.2,7.7,20.6,0.0,0.0,20.8,19.4,102,128,-4.8,31.266667,0,0,23.00,19.8,21.50,0.735607675906183,0.633262260127932,0.687633262260128,0.000000,11.44,35.254167,0.000000,10.0,82.0,8.0,0.0,0.0,50.406013
15,15,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,millspa02,1,29:56,8,14,0.571,5,7,0.714,1,2,0.500,1,1,2,3,3,1,2,2,22,-11,0,0,0.739,0.750,0.500,0.143,3.6,4.6,4.0,20.8,5.1,2.7,11.8,23.6,137,116,14.8,29.933333,0,0,38.50,38.9,41.50,1.28619153674833,1.29955456570156,1.38641425389755,0.066815,14.88,32.531250,29.455556,100.0,0.0,0.0,0.0,0.0,42.421635
16,16,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,drumman01,1,18:33,3,8,0.375,0,0,0.000,0,2,0.000,3,6,9,1,1,0,3,4,6,-8,0,0,0.338,0.375,0.000,0.250,17.3,44.4,29.1,9.2,2.7,0.0,25.3,26.8,68,117,-15.9,18.550000,0,0,19.25,18.3,18.75,1.0377358490566,0.986522911051213,1.01078167115903,0.215633,8.88,29.894444,15.182456,0.0,0.0,0.0,0.0,100.0,70.877559
17,17,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,edwarke02,1,18:25,0,5,0.000,0,3,0.000,0,0,0.000,2,2,4,2,0,0,0,1,0,1,0,0,0.000,0.000,0.600,0.000,11.6,14.9,13.0,14.5,0.0,0.0,0.0,11.4,52,128,-13.1,18.416667,0,0,8.00,7.8,8.00,0.434389140271493,0.423529411764706,0.434389140271493,0.054299,5.00,27.896296,7.030556,0.0,2.0,27.0,68.0,3.0,42.868618
18,18,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,thomaca02,0,28:28,7,17,0.412,3,9,0.333,3,4,0.750,0,4,4,2,1,0,2,2,20,-9,0,0,0.533,0.500,0.529,0.235,0.0,19.3,8.4,13.9,1.8,0.0,9.6,30.6,109,123,-1.1,28.466667,0,0,30.50,28.8,30.50,1.07142857142857,1.01170960187354,1.07142857142857,0.070258,18.76,36.333333,20.644667,1.0,52.0,45.0,3.0,0.0,46.393860
19,19,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,aldrila01,0,28:19,5,8,0.625,0,0,0.000,6,6,1.000,1,3,4,1,0,2,1,4,16,-4,0,0,0.752,0.625,0.000,0.750,3.8,14.5,8.5,6.2,0.0,5.7,8.6,17.2,151,123,1.6,28.316667,0,0,26.00,27.3,27.50,0.918187168922896,0.964096527369041,0.971159505591524,0.141260,10.64,26.861111,19.533333,0.0,0.0,0.0,0.0,100.0,70.877559
20,20,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,dukeda01,0,21:23,1,4,0.250,0,3,0.000,0,0,0.000,1,2,3,0,0,1,0,2,2,-13,0,0,0.250,0.250,0.750,0.000,5.0,12.8,8.4,0.0,0.0,3.8,0.0,7.8,74,125,-10.1,21.383333,0,0,7.75,8.6,8.75,0.362431800467654,0.402182385035074,0.409197194076383,0.093531,4.00,17.079167,6.153571,15.0,82.0,3.0,0.0,0.0,50.598134
21,21,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,carteje01,0,19:28,5,11,0.455,3,9,0.333,1,2,0.500,1,2,3,1,0,0,3,1,14,-1,0,0,0.589,0.591,0.818,0.182,5.5,14.1,9.2,10.4,0.0,0.0,20.2,32.0,99,128,-3.6,19.466667,0,0,19.25,16.1,17.75,0.988869863013699,0.827054794520548,0.911815068493151,0.051370,11.88,14.289317,7.691667,64.0,36.0,0.0,0.0,0.0,46.061925
22,22,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,griffbl01,0,8:07,0,1,0.000,0,0,0.000,1,2,0.500,1,3,4,1,0,1,1,0,1,-4,0,0,0.266,0.000,0.000,2.000,13.1,50.7,29.6,16.4,0.0,10.0,34.7,14.9,69,114,-3.3,8.116667,0,0,9.00,9.3,9.50,1.1088295687885,1.14579055441478,1.17043121149897,0.000000,1.88,23.412500,11.896528,0.0,0.0,9.0,51.0,40.0,53.779579
23,23,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,sharpda01,0,1:08,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0,0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,130,-10.6,1.133333,0,0,0.00,0.0,0.00,0.0,0.0,0.0,0.000000,0.00,19.400000,9.664583,0.0,0.0,0.0,0.0,100.0,70.877559
24,24,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,johnsja01,0,0:00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,1,1,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.000000,0,0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,0.00,29.433333,17.460606,0.0,0.0,27.0,67.0,5.0,42.804980
25,25,202202170BRK,H,BRK,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS,117,94.5,0.627,13.5,22.9,0.157,123.8,claxtni01,0,0:00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.000000,0,0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,0.00,23.815278,8.046667,0.0,0.0,0.0,4.0,96.0,69.764529

In [22]:
team_game.head(4).T

                           0             13            26            37
game_id          202202170BRK  202202170BRK  202202170CHO  202202170CHO
Team_Abbrev               WAS           BRK           MIA           CHO
H_A                         A             H             A             H
Team_Score                117           103           111           107
Team_pace                94.5          94.5          88.8          88.8
Team_efg_pct            0.627         0.483         0.471         0.453
Team_tov_pct             13.5          13.1          11.1          13.6
Team_orb_pct             22.9          33.3          26.8          28.1
Team_ft_rate            0.157         0.191         0.147         0.221
Team_off_rtg            123.8         109.0         103.4          99.7
Opponent_Abbrev           BRK           WAS           CHO           MIA

In [23]:
player_game = nba.drop(['Unnamed: 0','H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score',
       'Opponent_pace', 'Opponent_efg_pct', 'Opponent_tov_pct',
       'Opponent_orb_pct', 'Opponent_ft_rate', 'Opponent_off_rtg'], axis=1)

In [24]:
player_game

,game_id,player_id,starter,mp,fg,fga,fg_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts,plus_minus,did_not_play,is_inactive,ts_pct,efg_pct,fg3a_per_fga_pct,fta_per_fga_pct,orb_pct,drb_pct,trb_pct,ast_pct,stl_pct,blk_pct,tov_pct,usg_pct,off_rtg,def_rtg,bpm,minutes,double_double,triple_double,DKP,FDP,SDP,DKP_per_minute,FDP_per_minute,SDP_per_minute,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,PG%,SG%,SF%,PF%,C%,active_position_minutes
0,202202170BRK,kispeco01,1,32:30,6,9,0.667,4,6,0.667,0,0,0.000,0,1,1,1,2,0,2,2,16,13,0,0,0.889,0.889,0.667,0.000,0.0,3.3,1.8,4.0,3.1,0.0,18.2,15.6,133,113,3.1,32.500000,0,0,23.75,22.7,24.75,0.730769230769231,0.698461538461538,0.761538461538461,0.061538,9.00,31.716667,22.017778,1.0,36.0,60.0,4.0,0.0,46.253586
1,202202170BRK,kuzmaky01,1,30:16,2,7,0.286,0,3,0.000,1,1,1.000,0,7,7,5,1,0,7,3,5,10,0,0,0.336,0.286,0.429,0.143,0.0,24.7,13.9,18.5,1.7,0.0,48.5,22.0,55,107,-15.5,30.266667,0,0,19.75,16.9,17.25,0.652533039647577,0.558370044052863,0.569933920704846,0.099119,7.44,34.324000,18.475954,0.0,0.0,4.0,85.0,11.0,52.152590
2,202202170BRK,caldwke01,1,25:26,3,7,0.429,1,3,0.333,0,0,0.000,1,4,5,2,1,0,1,0,7,13,0,0,0.500,0.500,0.429,0.000,5.4,16.8,11.8,9.4,2.0,0.0,12.5,14.5,106,110,-3.8,25.433333,0,0,18.25,18.0,18.75,0.717562254259502,0.707732634338139,0.737221494102228,0.000000,7.00,29.820290,16.051693,0.0,32.0,67.0,0.0,0.0,47.021807
3,202202170BRK,netora01,1,20:40,5,7,0.714,1,1,1.000,1,2,0.500,1,1,2,3,2,0,0,1,12,8,0,0,0.761,0.786,0.143,0.286,6.6,5.2,5.8,20.3,4.9,0.0,0.0,17.6,165,109,10.2,20.666667,0,0,23.50,24.9,25.50,1.13709677419355,1.20483870967742,1.23387096774194,0.048387,7.88,29.920833,14.603922,90.0,10.0,0.0,0.0,0.0,27.603314
4,202202170BRK,bryanth01,1,14:04,5,6,0.833,0,1,0.000,2,2,1.000,1,4,5,2,0,2,0,0,12,8,0,0,0.872,0.833,0.167,0.333,9.7,30.3,21.3,23.6,0.0,13.4,0.0,22.6,185,102,20.9,14.066667,0,0,25.25,27.0,27.25,1.79502369668246,1.91943127962085,1.93720379146919,0.000000,6.88,20.095833,14.538095,0.0,0.0,0.0,0.0,100.0,36.472537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112118,202003070GSW,wiggian01,1,37:04:00,3,10,0.300,0,0,0.000,4,7,0.571,1,3,4,4,1,1,1,4,10,8,0,0,0.382,0.300,0.000,0.700,3.5,10.0,6.8,12.9,1.4,2.6,7.1,18.4,93,125,-10.2,37.066667,0,0,24.50,25.8,26.00,0.660971223,0.696043165,0.701438849,0.107914,13.08,33.110667,19.232562,0.0,2.0,77.0,21.0,0.0,57.207786
112119,202003070GSW,toscaju01,1,27:43:00,3,6,0.500,0,2,0.000,0,0,0.000,2,4,6,2,0,0,0,1,6,1,0,0,0.500,0.500,0.333,0.000,9.4,17.8,13.7,8.9,0.0,0.0,0.0,10.5,128,127,-5.5,27.716667,0,0,16.50,16.2,16.50,0.595309681,0.584485869,0.595309681,0.036079,6.00,25.470833,20.228571,5.0,45.0,43.0,7.0,0.0,58.202391
112120,202003070GSW,bendedr01,0,13:15,4,4,1.000,2,2,1.000,0,0,0.000,0,3,3,1,0,0,0,2,10,-10,0,0,1.250,1.250,0.500,0.000,0.0,27.9,14.3,12.3,0.0,0.0,0.0,14.6,246,124,15.2,13.250000,0,0,16.25,15.1,16.25,1.226415094,1.139622642,1.226415094,0.150943,4.00,24.083333,13.228788,0.0,0.0,0.0,9.0,91.0,49.630640
112121,202003070GSW,muldemy01,1,31:48:00,5,10,0.500,3,7,0.429,5,6,0.833,0,1,1,3,0,0,0,3,18,15,0,0,0.712,0.650,0.700,0.600,0.0,3.9,2.0,12.4,0.0,0.0,0.0,19.2,149,131,0.4,31.800000,0,0,25.25,23.7,25.25,0.794025157,0.745283019,0.794025157,0.094340,12.64,34.783333,27.691667,0.0,44.0,48.0,8.0,0.0,58.923515
112122,202003070GSW,randlch01,0,13:36,0,1,0.000,0,0,0.000,3,4,0.750,0,1,1,1,1,0,0,0,3,-10,0,0,0.543,0.000,0.000,4.000,0.0,9.0,4.6,8.0,3.9,0.0,0.0,9.8,133,121,-2.2,13.600000,0,0,7.75,8.7,8.75,0.569852941,0.639705882,0.643382353,0.000000,2.76,10.415645,6.050000,81.0,19.0,0.0,0.0,0.0,45.958787

In [25]:
team_game

,game_id,Team_Abbrev,H_A,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,Team_ft_rate,Team_off_rtg,Opponent_Abbrev
0,202202170BRK,WAS,A,117,94.5,0.627,13.5,22.9,0.157,123.8,BRK
13,202202170BRK,BRK,H,103,94.5,0.483,13.1,33.3,0.191,109.0,WAS
26,202202170CHO,MIA,A,111,88.8,0.471,11.1,26.8,0.147,103.4,CHO
37,202202170CHO,CHO,H,107,88.8,0.453,13.6,28.1,0.221,99.7,MIA
48,202202170LAC,HOU,A,111,103.7,0.533,15.3,24.0,0.154,107.1,LAC
...,...,...,...,...,...,...,...,...,...,...,...
112068,202002270GSW,GSW,H,86,104.8,0.481,23.6,12.2,0.113,82.1,LAL
112079,202002290PHO,GSW,A,115,98.6,0.523,9.0,28.9,0.276,116.6,PHO
112090,202003010GSW,GSW,H,110,100.2,0.522,17.4,38.3,0.191,109.8,WAS
112101,202003030DEN,GSW,A,116,94.4,0.622,10.7,12.8,0.171,122.9,DEN
112112,202003070GSW,GSW,H,118,90.9,0.606,7.0,18.9,0.263,129.9,PHI

In [26]:
player_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112123 entries, 0 to 112122
Data columns (total 59 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   game_id                            112123 non-null  object
 1   player_id                          112123 non-null  object
 2   starter                            112123 non-null  int64
 3   mp                                 112123 non-null  object
 4   fg                                 112123 non-null  int64
 5   fga                                112123 non-null  int64
 6   fg_pct                             112123 non-null  float64
 7   fg3                                112123 non-null  int64
 8   fg3a                               112123 non-null  int64
 9   fg3_pct                            112123 non-null  float64
 10  ft                                 112123 non-null  int64
 11  fta                                112123 non-null  int64
 12  ft_pct                             112123 non-null  float64
 13  orb                                112123 non-null  int64
 14  drb                                112123 non-null  int64
 15  trb                                112123 non-null  int64
 16  ast                                112123 non-null  int64
 17  stl                                112123 non-null  int64
 18  blk                                112123 non-null  int64
 19  tov                                112123 non-null  int64
 20  pf                                 112123 non-null  int64
 21  pts                                112123 non-null  int64
 22  plus_minus                         112123 non-null  int64
 23  did_not_play                       112123 non-null  int64
 24  is_inactive                        112123 non-null  int64
 25  ts_pct                             112123 non-null  float64
 26  efg_pct                            112123 non-null  float64
 27  fg3a_per_fga_pct                   112123 non-null  float64
 28  fta_per_fga_pct                    112123 non-null  float64
 29  orb_pct                            112123 non-null  float64
 30  drb_pct                            112123 non-null  float64
 31  trb_pct                            112123 non-null  float64
 32  ast_pct                            112123 non-null  float64
 33  stl_pct                            112123 non-null  float64
 34  blk_pct                            112123 non-null  float64
 35  tov_pct                            112123 non-null  float64
 36  usg_pct                            112123 non-null  float64
 37  off_rtg                            112123 non-null  int64
 38  def_rtg                            112123 non-null  int64
 39  bpm                                112123 non-null  float64
 40  minutes                            112123 non-null  float64
 41  double_double                      112123 non-null  int64
 42  triple_double                      112123 non-null  int64
 43  DKP                                112123 non-null  float64
 44  FDP                                112123 non-null  float64
 45  SDP                                112123 non-null  float64
 46  DKP_per_minute                     92725 non-null   object
 47  FDP_per_minute                     92725 non-null   object
 48  SDP_per_minute                     92725 non-null   object
 49  pf_per_minute                      92724 non-null   float64
 50  ts                                 112123 non-null  float64
 51  last_60_minutes_per_game_starting  109403 non-null  float64
 52  last_60_minutes_per_game_bench     109403 non-null  float64
 53  PG%                                111976 non-null  float64
 54  SG%                                111976 non-null  float64
 55  SF%                                111976 non-null  float64
 56  PF%                                111976 non-null  float64
 57  C%                                 111976 non-null  float64
 58  active_position_minutes            97003 non-null   float64
dtypes: float64(30), int64(23), object(6)
memory usage: 50.5+ MB

In [27]:
dbserver = psycopg2.connect(
    user = 'postgres',
    password = POSTGRES_PASSWORD,
    host = 'postgres'
)
dbserver.autocommit = True

In [28]:
cursor = dbserver.cursor()

In [29]:
try:
    cursor.execute('CREATE DATABASE nba')
except:
    cursor.execute('DROP DATABASE nba')
    cursor.execute('CREATE DATABASE nba')

In [30]:
engine = create_engine("postgresql+psycopg2://{user}:{pw}@{service}/{db}".format(
    user = 'postgres',
    pw = POSTGRES_PASSWORD,
    service = 'postgres',
    db = 'nba'
))

In [31]:
engine

Engine(postgresql+psycopg2://postgres:***@postgres/nba)

In [43]:
games.columns = [x.lower() for x in games.columns]
players.columns = [x.lower() for x in players.columns]
team_game.columns = [x.lower() for x in team_game.columns]
player_game.columns = [x.lower() for x in player_game.columns]

In [44]:
games.to_sql('games', con=engine, index=False, chunksize=1000, if_exists='replace')

3197

In [45]:
players.to_sql('players', con=engine, index=False, chunksize=1000, if_exists='replace')

812

In [46]:
team_game.to_sql('team_game', con=engine, index=False, chunksize=1000, if_exists='replace')

6394

In [52]:
player_game.to_sql('player_game', con=engine, index=False, chunksize=1000, if_exists='replace')

50075

In [48]:
myquery = '''
SELECT *
FROM games
'''
pd.read_sql_query(myquery, con=engine)

           game_id   game_date  ot  season
0     202202170BRK  2022-02-17   0    2022
1     202202170CHO  2022-02-17   2    2022
2     202202170LAC  2022-02-17   0    2022
3     202202170MIL  2022-02-17   0    2022
4     202202170NOP  2022-02-17   0    2022
...            ...         ...  ..     ...
3192  202001080GSW  2020-01-08   0    2020
3193  202008020HOU  2020-08-02   0    2020
3194  201911060HOU  2019-11-06   0    2020
3195  201912250GSW  2019-12-25   0    2020
3196  202002200GSW  2020-02-20   0    2020

[3197 rows x 4 columns]

In [49]:
myquery = '''
SELECT *
FROM games
WHERE season = 2022
'''
pd.read_sql_query(myquery, con=engine)

          game_id   game_date  ot  season
0    202202170BRK  2022-02-17   0    2022
1    202202170CHO  2022-02-17   2    2022
2    202202170LAC  2022-02-17   0    2022
3    202202170MIL  2022-02-17   0    2022
4    202202170NOP  2022-02-17   0    2022
..            ...         ...  ..     ...
878  202111190NOP  2021-11-19   0    2022
879  202111290LAC  2021-11-29   0    2022
880  202201130NOP  2022-01-13   0    2022
881  202201250PHI  2022-01-25   0    2022
882  202201210PHI  2022-01-21   0    2022

[883 rows x 4 columns]

In [50]:
myquery = '''
SELECT *
FROM games
WHERE game_date = '2021-04-12'
'''
pd.read_sql_query(myquery, con=engine)

        game_id   game_date  ot  season
0  202104120GSW  2021-04-12   0    2021
1  202104120NYK  2021-04-12   0    2021
2  202104120ORL  2021-04-12   0    2021
3  202104120UTA  2021-04-12   0    2021
4  202104120DAL  2021-04-12   0    2021
5  202104120NOP  2021-04-12   0    2021
6  202104120MEM  2021-04-12   0    2021
7  202104120PHO  2021-04-12   0    2021

In [51]:
# all games where player scores > 40, and team > 120, and caculate percentage of team scores

In [54]:
myquery = '''
SELECT pg.game_id, pg.player_id, pg.pts, tg.team_score,
     CAST(pg.pts AS float)/CAST(tg.team_score AS float) AS point_percent
FROM player_game pg
INNER JOIN team_game tg
    ON pg.game_id = tg.game_id
WHERE pts > 40 AND tg.team_score > 120

'''
pd.read_sql_query(myquery, con=engine)

          game_id  player_id  pts  team_score  point_percent
0    202202170MIL  embiijo01   42         123       0.341463
1    202202170NOP  doncilu01   49         125       0.392000
2    202110250CHO  tatumja01   41         129       0.317829
3    202110250CHO  tatumja01   41         140       0.292857
4    202110200NYK  brownja02   46         138       0.333333
..            ...        ...  ...         ...            ...
389  202007310DAL  hardeja01   49         153       0.320261
390  202007310DAL  hardeja01   49         149       0.328859
391  202008090SAC  riverau01   41         129       0.317829
392  202008090SAC  riverau01   41         129       0.317829
393  201911080MIN  russeda01   52         125       0.416000

[394 rows x 5 columns]